# Google Places API Key
# Obtendo em: https://console.cloud.google.com/apis/credentials
GOOGLE_PLACES_API_KEY=sua_chave_aqui

# Supabase
# Url do projeto em: https://supabase.com/dashboard/project/_/settings/api
SUPABASE_URL=https://seu-projeto.supabase.co
SUPABASE_ANON_KEY=sua_chave_anon_aqui