# Dependencies
node_modules/

# Build output
dist/
.vercel/

# Astro
.astro/

# IDE
.idea/
.vscode/

# Logs
*.log

# Optional
portal-montador/
google-credentials.json
service-account.json

# Environment
.env