---
---

<nav class="fixed bottom-0 left-0 w-full h-20 flex justify-around items-center px-4 pb-safe bg-white dark:bg-slate-950 z-50 rounded-t-2xl border-t border-slate-100 dark:border-slate-800 shadow-[0_-4px_20px_rgba(0,0,0,0.05)] md:hidden">
	<a href="/" class="flex flex-col items-center justify-center text-slate-900 dark:text-white active:scale-90 duration-150">
		<span class="material-symbols-outlined text-[24px]" style="font-variation-settings: 'FILL' 1;">home</span>
		<span class="font-['Inter'] text-[10px] font-semibold uppercase tracking-tighter mt-1">Início</span>
	</a>
</nav>